SecureLoginWebApp/SecureLoginWebApp/Connected Services/SecureLoginService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SecureLoginService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SecureLoginService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:Types" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:simpleType name="Types">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CorrectLogin" />
      <xs:enumeration value="IncorrectLogin" />
      <xs:enumeration value="AccountExist" />
      <xs:enumeration value="AccountCreated" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Types" nillable="true" type="tns:Types" />
</xs:schema>